@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JOBSNET</h1>
    <p>CONECTANDO OPORTUNIDADES
         
</div>

<div class="row mb-5">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://www.globalempregos.com.br/wp-content/uploads/2020/06/trabalhador-olhando-o-horizonte.jpg">
            <div class="card-body">
                <h4 class="card-title">Vagas Disponíveis</h4>
                <p class="card-subtitle mb-2 text-muted">Encontre uma vaga que combine com você.</p>
                <a href="/Vagas" class="btn btn-success" btn-lg active" role="button" aria-pressed="true" >VAGAS DISPONÍVEIS</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://www.globalempregos.com.br/wp-content/uploads/2019/05/curriculo_lattes_o_que_e_como_fazer.jpg">
            <div class="card-body">
                <h4 class="card-title">Cadastro de usuario</h4>
                <p class="card-subtitle mb-2 text-muted">Atualize as informções do seu cadastro.</p>
                <a href="/Candidato" class="btn btn-success" btn-lg active" role="button" aria-pressed="true" >CADASTRE-SE</a>
            </div>
        </div>
    </div>

    
</div>





@section head{
    <style type="text/css">
         body {
            background-image: url("https://wallpapercave.com/wp/wp5134622.jpg");
            margin: 0;
        }
    </style>
}
